* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

ul li {
  list-style-type: none;
}

h2 {
  font-size: 36px;
}

.img-centered {
  text-align: center;
}

/*HEADER*/
header {
  margin-bottom: 20px;
  min-height: 80px;
}
header .header__logo img {
  margin-left: 20px;
  width: 80px;
  height: 80px;
}
header .container {
  background: #fff;
  border-radius: 4px;
  margin-top: 20px;
}
header .row nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .row nav .navbar-collapse {
  text-align: center;
}
header .row nav a {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  line-height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .row nav a:hover {
  background-color: #341345;
  color: white;
  border-radius: 4px;
  -webkit-transition: 1s;
  transition: 1s;
}

/*TECHNOLOGY*/
.technology {
  margin-bottom: 20px;
}
.technology .col {
  padding: 0;
}
.technology img {
  width: 768px;
  border-radius: 4px;
}

/*ABOUT US*/
.main-article {
  margin-bottom: 20px;
  background: #fff;
  border-radius: 4px;
}

.aboutUs .col {
  padding: 40px;
}
.aboutUs .col .aboutUs__list {
  margin-bottom: 15px;
}

/*PRICES*/
.prices {
  background-color: rgba(255, 248, 231, 0.7);
  margin-bottom: 20px;
}
.prices .col {
  padding: 40px;
}

/*VIDEO*/
.video {
  text-align: center;
  padding-bottom: 20px;
}
.video .video__head {
  margin-bottom: 20px;
}
.video .video__frame {
  width: 74%;
  height: 375px;
  /*56.25*/
}

/*FOOTER*/
footer .contacts {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
}
footer .contacts .contacts__head {
  font-size: 28px;
}
footer .contacts .contacts__address-phone {
  font-color: #000;
  font-size: 16px;
  font-weight: bold;
}
footer .contacts .contacts__address-phone a {
  color: #000;
}

/*MEDIA*/
@media screen and (max-width: 1199px) {
  /* NAVIGATION */
  header .row .nav a {
    font-size: 14px;
  }

  /*VIDEO*/
  .video .video__frame {
    height: 315px;
  }
}
@media screen and (max-width: 991px) {
  /* NAVIGATION */
  .nav {
    display: block;
    margin-top: 10px;
  }

  /*HEADER*/
  header .header__logo {
    text-align: center;
    margin-left: -10px;
  }

  /*VIDEO*/
  .video .video__frame {
    height: 235px;
  }
}
@media screen and (max-width: 767px) {
  /*ABOUT US*/
  .aboutUs {
    text-align: center;
  }

  /*PRICES*/
  .prices {
    text-align: center;
  }

  /*VIDEO*/
  .video .video__frame {
    height: 170px;
  }
}
@media screen and (max-width: 575px) {
  /*HEADER*/
  header .container {
    margin-top: 0;
    border-radius: 0;
  }

  /*TECHNOLOGY*/
  .technology img {
    border-radius: 0;
  }

  /*ABOUT US*/
  .main-article {
    border-radius: 0;
    margin-bottom: 0;
  }

  /*PRICES*/
  .prices {
    margin-bottom: 0;
  }

  /*VIDEO*/
  .video .video__frame {
    height: 125px;
  }

  /*FOOTER*/
  footer .contacts {
    margin-bottom: 0;
    border-radius: 0;
  }
}
@media screen and (max-width: 400px) {
  .video .video__frame {
    height: 100px;
  }
}

/*# sourceMappingURL=style.css.map */